<h1>Welcome to My Php Gallery Setup</h1>

<form action="setup" method="post" class="ui form">
    <input type="hidden" name="token" value="{{ @token}}"/>
    <h3>MySql setup</h3>

    <label>
        Host
        <input type="text" placeholder="127.0.0.1" name="DB_HOST" value="{{ @sqlValues['DB_HOST'] }}"/>
    </label>
    <br/>
    <label>
        Port
        <input type="text" placeholder="3306" name="DB_PORT" value="{{ @sqlValues['DB_PORT'] }}"/>
    </label>
    <br/>
    <label>
        User
        <input type="text" placeholder="Username" name="DB_USER" value="{{ @sqlValues['DB_USER'] }}" required/>
    </label>
    <br/>
    <label>
        Password
        <input type="password" placeholder="Password" name="DB_PASS" value="{{ @sqlValues['DB_PASS'] }}"/>
    </label>
    <br/>

    <label>
        Database
        <input type="text" placeholder="database" name="DB_DATABASE" value="{{ @sqlValues['DB_DATABASE'] }}" required/>
    </label>
    <br/><br/>
    <button type="submit" class="ui success basic button">Submit</button>

</form>