<h1>Welcome to My Php Gallery Setup</h1>

<form action="setup" method="post" class="ui form">
    <input type="hidden" name="token" value="{{ @token}}"/>
    <h3>MySql setup</h3>

    <label>
        Host
        <input type="text" placeholder="127.0.0.1" name="DB_HOST"/>
    </label>
    <br/>
    <label>
        Port
        <input type="text" placeholder="3306" name="DB_PORT"/>
    </label>
    <br/>
    <label>
        User
        <input type="text" value="" placeholder="Username" name="DB_USER" required/>
    </label>
    <br/>
    <label>
        Password
        <input type="password" value="" placeholder="Password" name="DB_PASS"/>
    </label>
    <br/>

    <label>
        Database
        <input type="text" value="" placeholder="database" name="DB_DATABASE" required/>
    </label>
    <br/><br/>
    <button type="submit" class="ui success basic button">Submit</button>

</form>